/**
 *   No styles are acually here. 
 * 
 *   Imports all other files. Based on https://smacss.com/book/categorizing
 *   
 */
/**
 *    Import Global
 *   
 *   Sets variables, mixins, etc to be used later.
 */
/**
  *   Base Partials
  * 
  *   Generally included here are only Compass Extension
  *   imports and imports for variables, functions, mixins, and extendables.
*/
/**
  *   Compass Imports
*/
/**
  *   Compass Extensions
*/
/**
  *   Private Imports
*/
/**
  *  Breakpoints
*/
/**
  *  Grids and gutters
  *  Singularity 1.2 syntax: https://github.com/at-import/Singularity/wiki/Creating-Grids
*/
/**
  *  Font Size and Line Height for vertical rhythm
  *  See http://www.negativelabs.com/sandbox/type_grid/ for size choices
*/
/**
  *  Font Size for Headers
*/
/**
  *  Other font sizes
*/
/**
  *  Font Stacks
*/
/**
  *  Variables for use from the Font Stacks
  *  Don't call the font stacks directly!
*/
/**
  *  Colors
*/
/**
*  Sprites
*/
/**
 *   Mixins
 */
/**
 *   Base Import
 *   
 *   Sets variables, mixins, etc to be used later.
 */
/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-base
*/
/**
  *   Private Imports
*/
/* normalize-scss 3.0.3+normalize.3.0.3 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 0.375em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 25, ../sass/partials/base/_normalize.scss */
html {
  line-height: 1.5em;
  font-family: "Merriweather", Georgia, serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 38, ../sass/partials/base/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 52, ../sass/partials/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 73, ../sass/partials/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 92, ../sass/partials/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 102, ../sass/partials/base/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 111, ../sass/partials/base/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 123, ../sass/partials/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 133, ../sass/partials/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 145, ../sass/partials/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 153, ../sass/partials/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 163, ../sass/partials/base/_normalize.scss */
blockquote {
  margin: 0.375em 32px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 172, ../sass/partials/base/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 181, ../sass/partials/base/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 3em;
  line-height: 1.125em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}

/* line 196, ../sass/partials/base/_normalize.scss */
h2 {
  font-size: 2em;
  line-height: 1.125em;
  margin-top: 0.75em;
  margin-bottom: 0.375em;
}

/* line 202, ../sass/partials/base/_normalize.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* line 208, ../sass/partials/base/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

/* line 214, ../sass/partials/base/_normalize.scss */
h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

/* line 220, ../sass/partials/base/_normalize.scss */
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 232, ../sass/partials/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 243, ../sass/partials/base/_normalize.scss */
p,
pre {
  margin: 0.75em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 253, ../sass/partials/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 261, ../sass/partials/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 269, ../sass/partials/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 273, ../sass/partials/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 285, ../sass/partials/base/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 0.75em 0;
}

/**
 * Turn off margins on nested lists.
 */
/* line 299, ../sass/partials/base/_normalize.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/* line 306, ../sass/partials/base/_normalize.scss */
dd {
  margin: 0 0 0 32px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 314, ../sass/partials/base/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 32px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 326, ../sass/partials/base/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 341, ../sass/partials/base/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 354, ../sass/partials/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 366, ../sass/partials/base/_normalize.scss */
figure {
  margin: 0.375em 32px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 375, ../sass/partials/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 384, ../sass/partials/base/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 392, ../sass/partials/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 416, ../sass/partials/base/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 430, ../sass/partials/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: "Merriweather", Georgia, serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 448, ../sass/partials/base/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 459, ../sass/partials/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 474, ../sass/partials/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 489, ../sass/partials/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 498, ../sass/partials/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 509, ../sass/partials/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 524, ../sass/partials/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 541, ../sass/partials/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 551, ../sass/partials/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 561, ../sass/partials/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 571, ../sass/partials/base/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 587, ../sass/partials/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 601, ../sass/partials/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 610, ../sass/partials/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 621, ../sass/partials/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 626, ../sass/partials/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 3, ../sass/partials/base/_abstractions.scss */
.btn-yellow, .btn-red, .btn-white {
  text-decoration: none;
  margin: 0.75em 0;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

/* line 10, ../sass/partials/base/_abstractions.scss */
.btn-yellow {
  font-size: 100%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDAC1F', endColorstr='#FF9A6D0C');
  background-color: #EDAC1F;
  border: 0;
  color: #fff;
  text-shadow: #825c0a 0 -1px 0;
}
/* line 15, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-yellow:hover {
  text-decoration: none;
}
/* line 42, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-yellow:hover {
  background-color: #e09f12;
}
/* line 44, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-yellow:active {
  background-color: #d29511;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-yellow.disabled, .btn-yellow[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn-yellow::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 13, ../sass/partials/base/_abstractions.scss */
.btn-red {
  font-size: 100%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC33534', endColorstr='#FF721F1F');
  background-color: #C33534;
  border: 0;
  color: #fff;
  text-shadow: #5e1a19 0 -1px 0;
}
/* line 15, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red:hover {
  text-decoration: none;
}
/* line 42, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red:hover {
  background-color: #af302f;
}
/* line 44, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red:active {
  background-color: #a32c2b;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-red.disabled, .btn-red[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn-red::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 16, ../sass/partials/base/_abstractions.scss */
.btn-white {
  font-size: 100%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFCCCCCC');
  background-color: #fff;
  border: 0;
  color: #333;
  text-shadow: white 0 1px 0;
}
/* line 15, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-white:hover {
  text-decoration: none;
}
/* line 42, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-white:hover {
  background-color: #f2f2f2;
}
/* line 44, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-white:active {
  background-color: #ebebeb;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn-white.disabled, .btn-white[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn-white::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 13, ../sass/partials/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

/* line 17, ../sass/partials/base/_base.scss */
body {
  color: #333;
}

/* line 21, ../sass/partials/base/_base.scss */
a {
  color: #6488BC;
  text-decoration: none;
}
/* line 18, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #6488BC;
}
/* line 21, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #6488BC;
}
/* line 24, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #6488BC;
}
/* line 27, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #6488BC;
}
/* line 25, ../sass/partials/base/_base.scss */
a:hover {
  text-decoration: underline;
}

/**
*  Layout Import
*/
/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-layout
*/
/**
  *   Private Imports
*/
/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-layout
*/
/* line 7, ../sass/partials/layout/_header.scss */
header {
  margin-bottom: 2.25em;
  padding: 1.5em 0.75em 0.75em 0.75em;
}
/* line 13, ../vendor/bundle/ruby/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/partials/layout/_header.scss */
.front header {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 99%;
}

/* line 19, ../sass/partials/layout/_header.scss */
.site-name {
  text-align: center;
}
@media (min-width: 55em) {
  /* line 19, ../sass/partials/layout/_header.scss */
  .site-name {
    float: left;
  }
}

/* line 27, ../sass/partials/layout/_header.scss */
nav .menu {
  text-align: center;
  padding-left: 0;
}
@media (min-width: 55em) {
  /* line 26, ../sass/partials/layout/_header.scss */
  nav {
    float: right;
    position: relative;
    bottom: 6px;
  }
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-layout
*/
/* line 7, ../sass/partials/layout/_content.scss */
.content-inner {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
@media (min-width: 55em) {
  /* line 7, ../sass/partials/layout/_content.scss */
  .content-inner {
    max-width: 1140px;
    margin: 0 auto;
  }
}
/* line 13, ../vendor/bundle/ruby/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
.content-inner:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 55em) {
  /* line 13, ../sass/partials/layout/_content.scss */
  .not-front main {
    width: 65.38462%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 55em) {
  /* line 19, ../sass/partials/layout/_content.scss */
  .not-front .sidebar-first {
    width: 30.76923%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

@media (min-width: 55em) {
  /* line 27, ../sass/partials/layout/_content.scss */
  .front main {
    width: 48.07692%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 55em) {
  /* line 33, ../sass/partials/layout/_content.scss */
  .front .sidebar-first {
    width: 48.07692%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-layout
*/
/* line 7, ../sass/partials/layout/_sponsors.scss */
.region-sponsors {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
@media (min-width: 55em) {
  /* line 7, ../sass/partials/layout/_sponsors.scss */
  .region-sponsors {
    max-width: 1140px;
    margin: 0 auto;
  }
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-layout
*/
/* line 7, ../sass/partials/layout/_footer.scss */
.region-footer {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
@media (min-width: 55em) {
  /* line 7, ../sass/partials/layout/_footer.scss */
  .region-footer {
    max-width: 1140px;
    margin: 0 auto;
  }
}

/**
*  Module Import
*/
/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/**
  *   Private Imports
*/
/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 7, ../sass/partials/module/_header.scss */
header {
  background: url('../images/backgrounds/header-crops.jpg?1445911599');
  background-size: cover;
  background-position: top center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 8, ../sass/partials/module/_sitename.scss */
.site-name a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
/* line 18, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.site-name a:visited {
  color: rgba(255, 255, 255, 0.7);
}
/* line 21, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.site-name a:focus {
  color: rgba(255, 255, 255, 0.7);
}
/* line 24, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.site-name a:hover {
  color: white;
}
/* line 27, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.site-name a:active {
  color: white;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 7, ../sass/partials/module/_highlighted.scss */
.region-highlighted {
  text-align: center;
}
/* line 10, ../sass/partials/module/_highlighted.scss */
.front .region-highlighted {
  background: url('../images/backgrounds/header-crops.jpg?1445911599');
  background-size: cover;
  background-position: center bottom;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 3.75em 0;
  padding: 4.125em 0 11.25em 0;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 7, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights {
  padding: 0.75em;
  text-align: center;
  color: #fff;
}
/* line 12, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px #333;
  margin-bottom: 0.75em;
}
/* line 20, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights hr {
  border-color: #C33534;
  border-width: 3px;
  max-width: 50px;
}
/* line 26, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights ul {
  margin: 3em 0 1.875em 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
}
/* line 32, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights ul .training, #block-njblocks-camp-highlights ul .mentoring {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
/* line 37, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights ul .camp {
  font-size: 1.875em;
  line-height: 1.2em;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}
/* line 44, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights .register, #block-njblocks-camp-highlights .learn-more {
  text-decoration: none;
  margin: 0.75em 0;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC33534', endColorstr='#FF721F1F');
  background-color: #C33534;
  border: 0;
  color: #fff;
  text-shadow: #5e1a19 0 -1px 0;
}
/* line 15, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .register:hover, #block-njblocks-camp-highlights .learn-more:hover {
  text-decoration: none;
}
/* line 42, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .register:hover, #block-njblocks-camp-highlights .learn-more:hover {
  background-color: #af302f;
}
/* line 44, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .register:active, #block-njblocks-camp-highlights .learn-more:active {
  background-color: #a32c2b;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .register.disabled, #block-njblocks-camp-highlights .register[disabled], #block-njblocks-camp-highlights .learn-more.disabled, #block-njblocks-camp-highlights .learn-more[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
#block-njblocks-camp-highlights .register::-moz-focus-inner, #block-njblocks-camp-highlights .learn-more::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 53, ../sass/partials/module/_njblocks-camp-highlights.scss */
#block-njblocks-camp-highlights .learn-more {
  font-size: 100%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDAC1F', endColorstr='#FF9A6D0C');
  background-color: #EDAC1F;
  border: 0;
  color: #fff;
  text-shadow: #825c0a 0 -1px 0;
}
/* line 15, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .learn-more:hover {
  text-decoration: none;
}
/* line 42, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .learn-more:hover {
  background-color: #e09f12;
}
/* line 44, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .learn-more:active {
  background-color: #d29511;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-camp-highlights .learn-more.disabled, #block-njblocks-camp-highlights .learn-more[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
#block-njblocks-camp-highlights .learn-more::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 7, ../sass/partials/module/_nav.scss */
nav {
  list-style-type: none;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
nav, nav li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 9, ../sass/partials/module/_nav.scss */
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
/* line 18, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav a:visited {
  color: rgba(255, 255, 255, 0.7);
}
/* line 21, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav a:focus {
  color: rgba(255, 255, 255, 0.7);
}
/* line 24, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav a:hover {
  color: white;
}
/* line 27, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
nav a:active {
  color: white;
}
/* line 17, ../sass/partials/module/_nav.scss */
nav a.active {
  color: white;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 7, ../sass/partials/module/_njblocks-tickets-registration.scss */
#block-njblocks-tickets-registration {
  background-color: #C33534;
  padding: 0.75em;
  text-align: center;
  color: #fff;
}
/* line 13, ../sass/partials/module/_njblocks-tickets-registration.scss */
#block-njblocks-tickets-registration .description {
  font-style: italic;
  padding-top: 0.75em;
}
/* line 18, ../sass/partials/module/_njblocks-tickets-registration.scss */
#block-njblocks-tickets-registration .registration-link {
  text-decoration: none;
  margin: 0.75em 0;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFCCCCCC');
  background-color: #fff;
  border: 0;
  color: #333;
  text-shadow: white 0 1px 0;
}
/* line 15, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-tickets-registration .registration-link:hover {
  text-decoration: none;
}
/* line 42, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-tickets-registration .registration-link:hover {
  background-color: #f2f2f2;
}
/* line 44, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-tickets-registration .registration-link:active {
  background-color: #ebebeb;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-njblocks-tickets-registration .registration-link.disabled, #block-njblocks-tickets-registration .registration-link[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../vendor/bundle/ruby/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
#block-njblocks-tickets-registration .registration-link::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 7, ../sass/partials/module/_footer.scss */
footer {
  background: #38653C;
  color: #fff;
  padding: 3.75em 0;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 7, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info {
  list-style-type: none;
  text-align: center;
}
/* line 6, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
#block-njblocks-footer-contact-info, #block-njblocks-footer-contact-info li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 11, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info hr {
  border-color: #fff;
  border-width: 3px;
  max-width: 50px;
}
/* line 17, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info p {
  padding-top: 1.125em;
}
/* line 21, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info ul {
  margin-left: 0;
  padding-left: 0;
}
/* line 25, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info ul a {
  color: #fff;
  text-decoration: none;
}
/* line 18, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#block-njblocks-footer-contact-info ul a:visited {
  color: #fff;
}
/* line 21, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#block-njblocks-footer-contact-info ul a:focus {
  color: #fff;
}
/* line 24, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#block-njblocks-footer-contact-info ul a:hover {
  color: rgba(245, 245, 245, 0.7);
}
/* line 27, ../vendor/bundle/ruby/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#block-njblocks-footer-contact-info ul a:active {
  color: #fff;
}
/* line 29, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info ul i {
  font-size: 40px;
}
/* line 34, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info .contact {
  padding: 0.75em 0;
}
/* line 13, ../vendor/bundle/ruby/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
#block-njblocks-footer-contact-info .contact:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info .contact li {
  padding: 0.375em 0;
}
/* line 41, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info .contact li:first-child {
  display: block;
}
@media (min-width: 55em) {
  /* line 41, ../sass/partials/module/_footercontactinfo.scss */
  #block-njblocks-footer-contact-info .contact li:first-child {
    width: 22.11538%;
    float: left;
    margin-right: -100%;
    margin-left: 25.96154%;
    clear: none;
  }
}
/* line 47, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info .contact li:last-child {
  display: block;
}
@media (min-width: 55em) {
  /* line 47, ../sass/partials/module/_footercontactinfo.scss */
  #block-njblocks-footer-contact-info .contact li:last-child {
    width: 22.11538%;
    float: left;
    margin-right: -100%;
    margin-left: 51.92308%;
    clear: none;
  }
}
/* line 56, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info .archives li {
  border-right: 1px solid #fff;
  padding: 0 0.75em 0 0.5625em;
}
/* line 60, ../sass/partials/module/_footercontactinfo.scss */
#block-njblocks-footer-contact-info .archives li:last-child {
  border-right: none;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 8, ../sass/partials/module/_front.scss */
.front h1 {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/
/* line 8, ../sass/partials/module/_sponsors.scss */
.node-type-sponsor h1 {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/**
*  State Import
*/
/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-state
*/
/**
  *   Private Imports
*/
/**
*  Theme Import
*/
/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-base
*/
/**
  *   Private Imports
*/
/**
 *   Print styles
 */
