// Bootstrap variables.
@import 'variables.less';

// Insert your styling here.

p:last-child {
  margin-bottom: 2em;
}

// Sponsor detail pages

.node-sponsor .field.field-name-field-sponsor-body {
  @media (min-width: @screen-sm){
    clear: right;
    float: right;
    width: 60%;
  }
}

.node-sponsor .field {
  @media (min-width: @screen-sm){
    clear: left;
    float: left;
    width: 35%;
  }
}

.node-sponsor .field-name-field-sponsor-logo {
  text-align: center;
  margin-bottom: 15px;
}

.node-session .field-name-field-news-image {
  float: left;
  margin: 0 1em 1em 0;
}

// Responsive grid for Sessions

.view-camp-session-grid{
  .view-header {
    display: none; 
  }
  
  tbody {
    background: #f5f5f5
  }

  thead {
    @media (max-width: @screen-md) {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    th {
      @media (min-width: @screen-md) {
        text-align: left;
      }
    }
  }
  td, th {
    vertical-align: top;
    padding: 1.5em 1em;
    @media (min-width: @screen-md) {
      font-size: .95em;
      padding: 2em .75em;
    }

    @media (max-width: @screen-md){
      display: block;
    }
  }

  th {
    background: #555;
    color: #f5f5f5;
    font-weight: bold;
    text-align: center;
    @media (min-width: @screen-md) {
      font-size: .85em;
    }

    &.time-slot {
      @media (min-width: @screen-md){
        width: 100px;
      }
      span {
        @media (min-width: @screen-md) {
          display: block;
        }
      }
    }
  }

  td {
    border-bottom: 1px solid #ccc;

    &.empty { 
      @media (max-width: @screen-md) {
        display: none;
      }
    }
    span {
      font-size: .85em;
      padding-right: 1.25em;

      @media (min-width: @screen-md) {
        display: block;
      }
      &.room-name {
        @media (min-width: @screen-md) {
          display: none;
        }
      }
      &.speakers {
        @media (min-width: @screen-md) {
          border-top: 1px solid #ddd;
          margin-top: 1em;
          padding-top: 1em;
        }
      }
      &.track {
        @media (max-width: @screen-md) {
          padding-left: 1.25em;
        }
      } 
      &.experience {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        padding: 2px 5px;
      }
      &.experience.beginner {
        background: #0C6FD5;
      }
      &.experience.intermediate {
        background: #4D9998;
      }
      &.experience.advanced {
        background: #BF190C;
      }

    }

    a {
      text-transform: uppercase;
    }
  }
}