// Bootstrap variables.
@import 'variables.less';

// Insert your styling here.

p:last-child {
  margin-bottom: 2em;
}

// Sponsor detail pages

.node-sponsor .field.field-name-field-sponsor-body {
  @media (min-width: @screen-sm){
    clear: right;
    float: right;
    width: 60%;
  }
}

.node-sponsor .field {
  @media (min-width: @screen-sm){
    clear: left;
    float: left;
    width: 35%;
  }
}

.node-sponsor .field-name-field-sponsor-logo {
  text-align: center;
  margin-bottom: 15px;
}

.node-session .field-name-field-news-image {
  float: left;
  margin: 0 1em 1em 0;
}

// Responsive grid for Sessions

.view-camp-session-grid{
  .view-header {
    display: none; 
  }

  thead {
    @media (max-width: @screen-md) {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    th {
      @media (min-width: @screen-md) {
        text-align: left;
      }
    }
  }
  td, th {
    vertical-align: top;
    padding: 2em .5em;
    @media (min-width: @screen-md) {
      font-size: .95em;
    }

    @media (max-width: @screen-md){
      display: block;
    }
  }

  th {
    background: #777;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
  }

  td {
    border-bottom: 1px solid #ccc;

    span {
      font-size: .85em;
      padding-right: 1.25em;

      @media (min-width: @screen-md) {
        display: block;
      }
    }

    a {
      text-transform: uppercase;
    }
  }
}