//BUTTONS

.btn-yellow, .btn-red, .btn-white {
  text-decoration: none;
  margin: rhythm(2) 0;
  text-transform: uppercase;
  font-family: $opensans;
  font-weight: bold;
}
.btn-yellow {
  @include sassy-button("flat", rhythm(4), 100%, $yellow, $yellow, #fff);
}
.btn-red {
  @include sassy-button("flat", rhythm(4), 100%, $red, $red, #fff);
}
.btn-white {
  @include sassy-button("flat", rhythm(4), 100%, #fff, #fff, #333);
}

//IMAGE FLOATS