/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-base
*/

/**
  *   Private Imports
*/
@import 'normalize';

h1, h2, h3, h4, h5, h6 {
  font-family: $opensans;
}

body {
  color: $text;
}

a {
  @include link-colors($base-link-normal,$base-link-normal,$base-link-normal,$base-link-normal,$base-link-normal);
  text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
}
