/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-base
*/

/**
  *   Private Imports
*/
@import "toolkit/kickstart";
@import 'normalize';

h1, h2, h3, h4, h5, h6 {
  font-family: $opensans;
}

body {
  color: $text;
}

a {
  @include link-colors($base-link-normal,$base-link-normal,$base-link-normal,$base-link-normal,$base-link-normal);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
  
  h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
    @include link-colors($text,$base-link-normal,$base-link-normal,$text,$base-link-normal);
    
    &:hover {
      text-decoration: none;
    }
  }
}

table {
  font-family: $offset-font-family;
  caption {
    @include adjust-font-size-to( $caption-font-size );
    @include leader( 4,$caption-font-size );
    font-weight: bold;
  }
  th {
    text-align: left;
     padding: rhythm(2) rhythm(1) 0 rhythm(1);
  }
  td {
    padding: rhythm(2) rhythm(1);
  }
  .even {
    background-color: $zebra;
  }
}
