body{
    background:#9ed4f8;
}

#page {
    font: 18px Arial !important;
    color: #ffffff;
    line-height: 1.5em;
}

#content-area {
    background-color: rgba(11,11,11,.8);
    padding:10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.region-sidebar-second {
    width: 100%;
    margin-right: -13px;
    position: absolute;
}

.region-sidebar-second a.twitter-icon img {
    margin-bottom: -10px;
    margin-left: 55%;
    position: relative;
}

#page .region-sidebar-second a.sign-up {
    font-weight: bold;
    font-size: 35px;
    color: #212121;
    background-color: #ffba00;
    display: block;
    border: 2px solid #000000;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-transform: uppercase;
    width: 245px;
    margin: 0 auto;
    padding: 9px 0;
    text-align: center;
    text-decoration: none;
}

img {border:0;
display: block;
margin:0 auto;}

.sign-main, .sign-post, .sign-bottom {display:none;}

.sign-post {
    margin-left: 10px;
}
.sign-bottom {
    margin-left:10px;
}