
.icon-mail:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-drupal:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-desktop:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-gift:before { content: '\e806'; } /* '' */
.icon-ticket:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e80e'; } /* '' */
.icon-art-gallery:before { content: '\e80f'; } /* '' */