/**
 *   Mixins
 */

@mixin standard-layout {
  
  padding-left: rhythm(2);
  padding-right: rhythm(2);
  @include breakpoint($bp-desktop) {
        max-width: 1140px;
        margin: 0 auto;
  }
}

@mixin hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
