/**
  *  Breakpoints
*/
$bp-tablet: 45em;
$bp-desktop: 65em;
$bp-wide: 70em;


/**
  *  Grids and gutters
*/

@include add-grid(3);
@include add-grid(20 69 at $bp-tablet);
@include add-grid(12 at $bp-desktop);

@include add-gutter(1/3);
@include add-gutter(3 at $bp-tablet);
@include add-gutter(4/5 at $bp-desktop);


/**
  *  Font Size and Line Height for vertical rhythm
  *  See http://www.negativelabs.com/sandbox/type_grid/ for size choices
*/

$xxxsmallpx   : 16px;
$xxsmallpx     : 20px;
$xsmallpx       : 24px;
$smallpx         : 30px;
$medpx          : 32px;
$largepx         : 40px;
$xlargepx       : 48px;
$xxlargepx      : 60px;
$xxxlargepx    : 80px;

$base-font-size:  $xxxsmallpx;
$base-line-height: 6px;
$relative-font-sizing: true;

$rhythm-unit: 'em';
$indent-amount: $xxxsmallpx * 2;


/**
  *  Font Size for Headers
*/
$h1-font-size              : $xlargepx !default;
$h2-font-size              : $medpx !default;
$h3-font-size              : $xsmallpx !default;
$h4-font-size              : $xxxsmallpx !default;
$h5-font-size              : $xxxsmallpx !default;
$h6-font-size              : $xxxsmallpx !default;


/**
  *  Other font sizes
*/


/**
  *  Font Stacks
*/
$tahoma:         Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:               Arial, Helvetica, "Nimbus Sans L", sans-serif;

$merriweather:  "Merriweather",Georgia,serif;
$opensans: "Open Sans","Helvetica Neue",Arial,sans-serif;


/**
  *  Variables for use from the Font Stacks
  *  Don't call the font stacks directly!
*/
$base-font-family: $merriweather;


/**
  *  Colors
*/
// Base colors


// Derived colors
// Create colors from base colors above using color-schemer.


// Color assignments
// Similar to the font-stacks...don't call colors directly in partials. 
// Instead, create variables and assign base or derived colors from above.


/**
*  Sprites
*/
    
// Set this to true to force CSS output to exactly match normalize.css.
$strict-normalize: false;
 
