body {
	background: #333;
	font-family: Helvetica;
	font-size: 16px;
}
#page {
	background: #333;
	width:100%;
	padding: 2em 0;
}
#container {
	background: #fff;
	margin: 0 auto;
	max-width: 90%;
	padding: 0.5em 1em;
	border-radius: 0.5em;
}
.left-col {float:left;
width:55%;
display: inline;}
.right-col{float-right; width:40%;
margin-left:5%;
display: inline;}