/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/

#block-njblocks-footer-contact-info {
  @include inline-list();
  text-align: center;
  
  h2 {
    @include trailer(5, $h2-font-size);
  }
  
  hr {
    border-color: $text-offset;
    border-width: 3px;
    max-width: 50px;
  }
  
  p {
    padding-top: rhythm(3);
  }
  
  ul {
    margin-left: 0;
    padding-left: 0;
    
    a {
      @include link-colors($njblocks-icons-color,$njblocks-icons-coloroffset,$njblocks-icons-color,$njblocks-icons-color,$njblocks-icons-color);
      text-decoration: none;
    }
    i {
      font-size: $njblocks-icons;
    }
  }
  
  .contact {
    @include clearfix();
    padding: rhythm(2) 0;
    
    li {
      padding: rhythm(1) 0;
    }
    li:first-child{
      display: block;
      @include breakpoint($bp-desktop) {
        @include grid-span(3,4);
      }
    }
    li:last-child {
      display: block;
      @include breakpoint($bp-desktop) {
        @include grid-span(3,7);
      }
    }
  }
  
  .archives {
    li {
      border-right: 1px solid $text-offset;
      padding: 0 rhythm(2) 0 rhythm(1.5);
    }
    li:last-child{
      border-right: none;
    }
  }
}

