/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/

#block-njblocks-footer-contact-info {
  @include inline-list();
  text-align: center;
  
    ul {
      margin-left: 0;
      padding-left: 0;
    }
}

