/**
  *   Base Partials
  *
  *  See https://smacss.com/book/type-module
*/

header {
  @include background(image-url("backgrounds/header-2017-1600x900.jpg"));
  background-size: cover;
  background-position: top center;

  .front & {
    background: transparent;
  }
}

