/**
  *   Base Partials
  *
  *  See https://smacss.com/book/type-module
*/

nav {
  @include inline-list();
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $opensans;
    font-weight: bold;
    font-size: 14px;
    @include link-colors($header-link-normal, $header-link-hover, $header-link-active, $header-link-visited, $header-link-focus);

    &:hover {
      text-decoration: none;
      border-bottom: 3px solid $header-link-border;
    }
    &.active {
      color: $header-link-active;
      border-bottom: 3px solid $header-link-border;
    }
  }
}

// Make "Camp Schedule" Active on Session detail pages.

.node-type-session nav li:nth-child(2) a {
  color: $header-link-active;
  border-bottom: 3px solid $header-link-border;
}
