/**
  *   Base Partials
  *
  *  See https://smacss.com/book/type-module
*/

#block-njblocks-collaboration-tickets {
  background-color: $njblocks-collaboration-tickets;
  padding: rhythm(2);
  text-align: center;
  color: $text-offset;
  margin-bottom: rhythm(4);

  .description {
    font-style: italic;
    padding-top: rhythm(2);
  }
  
}
