/**
  *   Base Partials
  *
  *  See https://smacss.com/book/type-module
*/

#block-njblocks-code-of-conduct {

  text-align: center;
  padding-bottom: rhythm(6);


  p {
    padding-top: rhythm(3);
  }


}
