/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/

#block-njblocks-camp-highlights {
  padding: rhythm(2);
  text-align: center;
  color: $text-offset;
  
  h2 {
    @include breakpoint($bp-mobile-only) {
      @include leader(10, $njblocks-camp-highlights-h2-mobile);
     @include adjust-font-size-to($njblocks-camp-highlights-h2-mobile);
    }
    @include breakpoint($bp-tablet) {
      @include adjust-font-size-to($njblocks-camp-highlights-h2);
    }
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px #333;
    margin-bottom: rhythm(2);
  }
  
  hr {
    border-color: $njblocks-camp-hr;
    border-width: 3px;
    max-width: 50px;
  }
  
  ul {
    margin: rhythm(8) 0 rhythm(5) 0;
    @include no-bullet();
    font-family: $opensans;
    font-weight: 700;
    
    .training, .mentoring {
      @include adjust-font-size-to( $njblocks-camp-highlights-description );
      @include leader(1, $njblocks-camp-highlights-description);
      @include trailer(1, $njblocks-camp-highlights-description);
    }
    .camp {
      @include adjust-font-size-to( $njblocks-camp-highlights-camp );
      @include leader(2, $njblocks-camp-highlights-camp);
      @include trailer(3, $njblocks-camp-highlights-camp);
    }
  }
}

