/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/

#block-njblocks-tickets-registration {
  background-color: $njblocks-tickets-registration;
  padding: rhythm(2);
  text-align: center;
  color: $text-offset;
  
  .description {
    font-style: italic;
    padding-top: rhythm(2);
  }
  
  .registration-link {
    text-decoration: none;
    margin: rhythm(2) 0;
    text-transform: uppercase;
    font-family: $opensans;
    font-weight: bold;
    @include sassy-button("flat", 10px, 19px, #fff, #fff, #000);
    
  }
}
