/**
  *   Base Partials
  *
  *  See https://smacss.com/book/type-module
*/

.view-sessions {

}

.view-sessions--proposed {
  ul {
    @include no-bullets();
    padding-left: 0;
    li {
      padding: rhythm(2) rhythm(4);
    }
  }
  .views-row-even {
    background-color: $zebra;
  }
}

.view-sessions--accepted {
  .item-list {
    @include no-bullets();
    //Clear rows for grid in Tablet
    .views-row:nth-child(2n+1) {
      @include breakpoint($bp-tablet-only){
        clear: both;
      }
    }
    //Clear rows for grid in Desktop
    .views-row:nth-child(3n+1) {
      @include breakpoint($bp-desktop){
        clear: both;
      }
    }
    h3 {
      clear: both;
      @include leader(8, $h3-font-size);
    }
    ul {
      margin: 0;
      padding: 0;
      clear: both;
      li {
        margin-bottom: rhythm(6);
        padding-bottom: rhythm(1);
        background-color: $zebra;
        box-shadow: 1px 1px 6px #bbb;
        @include breakpoint($bp-tablet) {
          float: left;
          width: 45%;
          margin-right: 5%;
        }
        @include breakpoint($bp-desktop) {
          float: left;
          width: 29%;
          margin-right: 3%;
        }

        a {
          @include adjust-font-size-to( $h3-font-size );
          font-family: $offset-font-family;
        }
        .views-field {
          padding: 0 10px;
        }
      }
    }
  }
}

.views-field-field-location {
  font-style: italic;
}

// TRACK COLORING

.views-field-field-track {
  @include adjust-font-size-to(.75 * $h6-font-size);
  font-family: $offset-font-family;
  font-weight: bold;
  background: #444;
  color: white;
  text-transform: uppercase;
}
.track-Site-Building {
  background: $sessions-site-building;
}
.track-Development {
  background: $sessions-development;
}
.track-Case-Studies {
  background: $sessions-case-studies;
}
.track-Theming-amp-Front-End {
  background: $sessions-theming-amp-front-end;
}

// HIDE EXTRA INFORMATION FOR "EVERYONE" SESSIONS
// Make EVERYONE sessions full width.

.row-with-track-Everyone {
  @include breakpoint($bp-tablet) {
    width: 95% !important;
  }
  @include breakpoint($bp-desktop) {
    width: 93% !important;
  }
  .views-field-field-audience, .views-field-name{
    @include hidden();
  }
}
