/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-module
*/

.site-name {
  text-align: center;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $opensans;
    font-weight: bold;
    font-size: 18px;
    @include link-colors($header-link-normal, $header-link-hover, $header-link-active, $header-link-visited, $header-link-focus);  }
}

