/**
  *   Base Partials
  *
  *  See https://smacss.com/book/type-module
*/

// Sponsor landing page
.node-type-sponsor {
  h1 {
    @include hidden();
  }
  .field-name-field-image {
    text-align: center;
  }
}

// Sponsors region
.view-sponsors {
  @include clearfix();
  h3 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px double #ddd;
    border-top: 3px double #ddd;
    @include adjust-font-size-to( $base-font-size );
    @include leader(4, $base-font-size);
    @include trailer(4, $base-font-size);
  }
  .views-row {
    height: 150px;
    line-height: 150px;
    white-space: nowrap;
    text-align: center;
  }
  .views-row-odd {
    float: left;
    width: 49.5%
  }
  .views-row-even {
    float: right;
    width: 49.5%;
  }
  a {
    display: block;
  }
  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
}

// Diamond
.view-display-id-block {
  .views-row-odd {
    float: none;
    width: 100%;
  }
}

// Platinum, Corporate
.view-display-id-block_1 .views-row, .view-display-id-block_4 .views-row {
  height: 175px;
  line-height: 175px;
}

// Gold, Silver
.view-display-id-block_2, .view-display-id-block_3 {
  @include breakpoint($bp-tablet) {
    .views-row {
      float: left;
      width: 24.5%;
    }
  }
}
