/**
  *   Base Partials
  * 
  *  See https://smacss.com/book/type-layout
*/

header {
  @include clearfix();
  margin-bottom: rhythm(6);
  padding: rhythm(4) rhythm(2) rhythm(0) rhythm(2);
  
  .front & {
    position: absolute;
    width: 100%;
  }
}

.site-name {
  @include breakpoint($bp-desktop) {
    float: left;
  }
}

nav {
    .menu {
      text-align: center;
      padding-left: 0;
    }
  @include breakpoint($bp-desktop) { 
    float: right;
    position: relative;
    bottom: 11px;
  }
}

