/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

html {
  background: #151515 url('../images/bg-tile.jpg') 0 0 repeat-x;
}

body {
  background: url('../images/bg-main.jpg') 50% 0 no-repeat;
}

#zone-menu-wrapper, #zone-branding-wrapper {
  border-bottom: none;
  border-top: none;
}

/**
 *   Site name
 */

.site-name a {
  background: url('../images/sb-green-sign.png') 0 0 no-repeat;
  position: absolute;
  width: 288px;
  height: 182px;
  right: -11px;
  top: 65px;
  z-index: 10;
}

/**
 *   Branding
 */

#zone-branding {
  border-top: none;
  border-bottom: none;
  padding: 0;
  background: none;
}

/**
 *   Menu
 */

#zone-menu {
  background: none;
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  padding: 0;
}

#zone-menu li {
  display: block;
  float: left;
  background: url('../images/nav-sign-clasp.png') 50% 0  no-repeat;
  padding-top: 16px;
}

#zone-menu a {
  text-transform: capitalize;
  font-variant: small-caps;
  background-color: #00674c;
  border: 2px solid #fff;
  padding: 4px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/**
 *   Content
 */
#zone-content-wrapper {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

.front #region-content {
  margin-top: 275px;
}

#region-content {
  margin-top: 31px;
  color: #fff;
}

.region-content-inner {
  padding: 40px 40px 0 40px;
  background-color: rgb(11,11,11);
  background-color: rgba(11,11,11,.9);
  min-height: 450px; 
  height:auto !important; 
  height: 450px;

}

.front .region-content-inner {
  margin-left: 160px;
}

#region-content a {
  color: #ffca58;
}

#region-content table {
  border: 0;
}

#region-content ul.tabs a {
  background-color: rgb(11,11,11);
  background-color: rgba(11,11,11,.9);
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 5px 8px 0 8px;
}

#region-content ul.tabs a.active {
  border-top: 1px solid #FFCA58;
  border-left: 1px solid #FFCA58;
  border-right: 1px solid #FFCA58;
}

#region-content table th {
  background-color: rgb(11,11,11);
  background-color: rgba(11,11,11,.9);
  border: 0;
  color: #fff;
  font-weight: bold;
}

#region-content table td {
  background-color: rgb(11,11,11);
  background-color: rgba(11,11,11,.9);
  border: 0;
}

#region-content table caption{
  color: #fff;
}

/**
 *   Aside
 */

#zone-content aside {
  margin-top: 182px;
  background: url('../images/sb-pole-entire.png') 62px -50px no-repeat;
  height: 660px;
}

.twitter-sign a{
  text-indent: -9999px;
  display: block;
  background: url('../images/sb-twitter-bird.png') 0 0 no-repeat;
  padding: 0;
  width: 52px;
  position: absolute;
  top: -217px;
  left: 120px;
  z-index: 15;
  margin: 0;
  float: none;
}

.date-sign {
  height: 322px;
  width: 196px;
  background: url('../images/sb-date-sign.png') 0 0 no-repeat;
  margin-top: 20px;
  position: relative;
  left: -8px;
}

.signup-sign {
  background: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.signup-sign a {
  height: 62px;
  width: 245px;
  background: url('../images/sb-yellow-sign.png') 0 0 no-repeat;
  margin-top: 20px;
  display: block;
  position: relative;
  right: 32px;
  text-indent: -9999px;
  float: none;
}

.arrow-sign {
  height: 128px;
  width: 128px;
  background: url('../images/sb-round-sign.png') 0 0 no-repeat;
  margin-top: 20px;
  position: relative;
  left: 25px;
}

/**
 *   Footer
 */
#zone-footer-wrapper {
  background: none;
}

#block-views-sponsors-block .row {
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 40px 0;
}

#block-views-sponsors-block .gridCol {
  float: left;
  width: 30%;
}

#block-views-sponsors-block .gridCol a {
  outline: none;
}


/**
 *   STYLES FOR SPECIFIC PAGES ARE BELOW
 */

/**
 *   Sponsors
 */

#region-content .view-sponsors h3 {
  clear: both;
  padding-bottom: 1em;
  border-top: 1px solid #FFCA58;
  width: 600px;
}

#region-content .view-sponsors ul {
  float: left;
  width: 100%;
  margin-bottom: 6em;
}

#region-content .view-sponsors li.views-row-odd {
  float: left;
  margin: 0;
}

#region-content .view-sponsors li.views-row-even {
  float: right;
  padding-right: 4em;
}

/* feedback link is hidden by default*/
#block-feedback-feedback {
  display: block;
}
#block-feedback-feedback a {
  background-color: #0163A4;
  color: white;
  font-weight: bold;
}
