/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  font-family: "arial", "helvetica", clean, sans-serif;
}

#zone-content h1 {
  font-size: 2.2em;
  line-height: 1.19318em;
  font-weight: normal;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.51136em; }

#zone-content h2, #zone-footer h2 {
  font-size: 1.6em;
  line-height: 1.17188em;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0.05859em;
  margin-bottom: .5em; }

h3 {
  font-size: 1.2em;
  line-height: 1.25em;
  font-weight: normal;
  margin-top: 0em;
  padding-top: 0.23438em;
  padding-bottom: 0.07813em;
  margin-bottom: 0em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
  margin-top: 0em;
  padding-top: 0.28125em;
  padding-bottom: 0.09375em;
  margin-bottom: 0em; }

h5 {
  font-size: 0.83em;
  line-height: 1.35542em;
  font-weight: normal;
  margin-top: 0em;
  padding-top: 0.33886em;
  padding-bottom: 0.11295em;
  margin-bottom: 0em; }

h6 {
  font-size: 0.75em;
  line-height: 1.5em;
  font-weight: normal;
  margin-top: 0em;
  padding-top: 0.375em;
  padding-bottom: 0.125em;
  margin-bottom: 0em; }

p, ol, ul, table, pre, code {
  margin-bottom: 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

table {
	table-layout:fixed;
}

td, th {
	word-wrap: break-word;
	overflow: hidden;
	padding-top: .5em;
	padding-bottom: .5em;
}

iframe, img, embed, input, textarea {
	max-width: 100%;
}

img {
	height: auto;
}

/* 
 * BRANDING 
 */

#zone-branding-wrapper {
  border-top: 3px solid #00674c;
  border-bottom: 3px solid #00674c; 
}

#zone-branding {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background-color: #00674c;
  padding: 12px 0;
}

.site-name a {
  display: block;
  height: 48px;
  width: 236px;
  text-indent:-9999px;
  background: url('../images/mobile/logo-mobile-2014.png') 0 0 no-repeat;
}

#over-wrapper {
  float: right;
}

#over-wrapper a {
  margin: 10px 0 0 10px;
  background: url('../images/mobile/menu-toggle-button.png') 0 0 no-repeat;
  text-indent: -9999px;
  display: block;
  width: 42px;
  height: 28px;
}

/*
 * MENU
 */

#zone-menu-wrapper {
  border-bottom: 3px solid #00674c; 
}

#zone-menu {
  -webkit-box-shadow: inset 0px 6px 6px -6px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    inset 0px 6px 6px -6px rgba(50, 50, 50, 0.6);
  box-shadow:         inset 0px 6px 6px -6px rgba(50, 50, 50, 0.6);
  background-color: #00674c;
  border-bottom: 5px solid #fff;
  padding: 5px 0
}

#zone-menu-wrapper a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10px;
}

#zone-menu a:hover, #zone-menu a:active, #zone-menu a.active {
  background-color: #009a72;
}

/* 
 * CONTENT 
 */

#zone-content-wrapper {
  -webkit-box-shadow: inset 0px 6px 6px -6px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    inset 0px 6px 6px -6px rgba(50, 50, 50, 0.6);
  box-shadow:         inset 0px 6px 6px -6px rgba(50, 50, 50, 0.6);
  background: #51b4fa; /* Old browsers */
  background: -moz-linear-gradient(top,  #51b4fa 0%, #9cd4fc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51b4fa), color-stop(100%,#9cd4fc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #51b4fa 0%,#9cd4fc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #51b4fa 0%,#9cd4fc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #51b4fa 0%,#9cd4fc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #51b4fa 0%,#9cd4fc 100%)); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##51b4fa', endColorstr='#9cd4fc',GradientType=0 ); /* IE6-9 */
  padding: 20px 0;
}

#region-content .node-links {
	margin-top: -.75em;
	min-height: .75em;
	margin-bottom: .5em;
}

#region-content .node-links ul li a, #region-content .comment-links ul li a {
  color: #ccc;
}

.node-links ul li a,
.comment-links ul li a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(1, #252525));
  background: -moz-linear-gradient(top center, #555 0%, #252525 100%);
  border-color: #111;
  color: #ccc;
  text-shadow: #000 0 1px 1px;
}

.node-links ul li a:hover, .comment-links ul li a:hover {
	background: #222;
	border-color: #333;
}

#region-content a,
.twitter-sign a {
 	color: #00674c;
}

h2 a,
.content td a {
	text-decoration: none;
}

.feed-icon {
	text-align: right;
}

.content p,
.content ul,
.content ol,
.content td {
	line-height: 1.3em;
}

.content ul,
.content ol {
	margin-left: 2em;
}

.content td,
.content th {
	vertical-align: top;
}

#region-content table caption {
  margin-bottom: .5em;
  font-size: 1.25em;
}

.node .submitted {
	margin-bottom: 1em;
	font-style: italic;
}

.node-type-sponsor #zone-content h1 {
	margin-bottom: 0;
}

.node-type-sponsor #zone-content h1 {
	margin-bottom: 0;
}

.field-name-field-sponsor-sponsorship-level {
	margin-bottom: 1em;
	font-style: italic;
}

.field-name-field-sponsor-sponsorship-level {
	margin-bottom: 1em;
	font-style: italic;
}

.field-name-field-sponsor-logo {
	margin-bottom: 1em;
	text-align: center;
}

.field-name-field-sponsor-url {
	margin-bottom: 1em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.field-name-field-sponsor-url a {
	text-decoration: none;
}

.page-user .field {
	margin-bottom: 1em;
}

.profile h3 {
	margin-bottom: 1em;
}

.field-name-field-track,
.field-name-field-experience,
.field-name-field-speakers,
.field-name-field-session-timeslot {
	margin-bottom: 1em;
}

.field-name-field-speakers .field-item { 
  margin-right: 0.5em; 
} 

ul.inline li.flag-session_vote {
	display: block;
	padding-top: 1em;
}

/**
 *   CONTENT > SESSION SCHEDULE
 */

.view-camp-session-grid .view-header,
.view-camp-bof-grid .view-header,
.camp-schedule-grid thead,
.camp-schedule-grid tbody td.empty{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.camp-schedule-grid tbody th,
.camp-schedule-grid tbody td {
  display: block;
}

.camp-schedule-grid tbody th {
  font-weight: bold;
  text-align: center;
  background: #777;
  color: #fff;
}

.camp-schedule-grid tbody td {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.camp-schedule-grid tbody .add-bof {
  display: block;
}

@media all and (min-width: 345px) {
  .camp-schedule-grid tbody .room-name {
    float: left;
    width: 35%;
    text-align: right;
  }

  .camp-schedule-grid tbody .session-details,
  .camp-schedule-grid tbody .add-bof{
    float: right; 
    width: 60%; 
  }
}

@media all and (min-width: 500px) {
  .camp-schedule-grid tbody .room-name {
    width: 40%;
  }

  .camp-schedule-grid tbody .session-details,
  .camp-schedule-grid tbody .add-bof {
    width: 55%; 
  }
}

.camp-schedule-grid tbody .room-name {
    margin-top: 0;
    padding-top: 0;
    color: #999;
    font-size: 1em;
  }

.camp-schedule-grid tbody .title {
  font-weight: bold;
  margin-bottom: 0px;
}

.camp-schedule-grid tbody .speakers {
  color: #999;
  font-size: .9em;
  display: block;
}

.camp-schedule-grid tbody .track,
.camp-schedule-grid tbody .experience {
  color: #fff;
  background-color: #777;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: .9em;
  display: block;
  float: left;
  margin: 0 3px 3px 0;
}

.camp-schedule-grid tbody .experience.beginner {
  background-color: #0785ED;
}

.camp-schedule-grid tbody .experience.intermediate {
  background-color: #dd9d00;
}

.camp-schedule-grid tbody .experience.advanced {
  background-color: #AA1430;
}


/**
 *   CONTENT > SESSION SCHEDULE > TABS
 */

@media all and (min-width: 300px) and (max-width: 445px) {
.page-camp-session-schedule .tabs ul li a,
.page-camp-session-schedule .tabs ul li a.active {
  width: 5em;
}
}

@media all and (min-width: 446px) and (max-width: 979px) {
.page-camp-session-schedule .tabs ul li a,
.page-camp-session-schedule .tabs ul li a.active {
  width: 6em;
}
}

@media all and (max-width: 979px) {

div.tabs {
  float:left;
  width:100%;
  overflow:hidden;
  position:relative;
}

ul.tabs.primary {
  padding: 0;
  border-bottom: none; 
  clear:left;
  float:left;
  position:relative;
  left:50%;
  text-align:center;
}

.page-camp-session-schedule .tabs ul li {
  display:block;
  float:left;
  position:relative;
  right:50%;
}

.page-camp-session-schedule .tabs ul li a {
  font-size: 16px;
  padding: 0.4em 0.8em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00674C', endColorstr='#FF000101');
  background-color: #00674c;
  border: 2px solid transparent;
  color: white !important;
  margin-right: 0.5em;
}
.page-camp-session-schedule .tabs ul li a:hover {
  text-decoration: none;
}
.page-camp-session-schedule .tabs ul li a:hover {
  background-color: #004e39;
}
.page-camp-session-schedule .tabs ul li a:active {
  background-color: #003e2e;
}
.page-camp-session-schedule .tabs ul li a.disabled, .page-camp-session-schedule .tabs ul li a[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.page-camp-session-schedule .tabs ul li a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.page-camp-session-schedule .tabs ul li a.active {
  font-size: 16px;
  font-weight: bold;
  padding: 0.4em 0.8em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00B384', endColorstr='#FF004E39');
  background-color: #00b384;
  border: 2px solid white;
  color: white !imporant;
  text-shadow: #003426 0 1px 0;
}
.page-camp-session-schedule .tabs ul li a.active:hover {
  text-decoration: none;
}
.page-camp-session-schedule .tabs ul li a.active:hover {
  background-color: #009a72;
}
.page-camp-session-schedule .tabs ul li a.active:active {
  background-color: #008b66;
}
.page-camp-session-schedule .tabs ul li a.active.disabled, .page-camp-session-schedule .tabs ul li a.active[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.page-camp-session-schedule .tabs ul li a.active::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

.view-content {
  clear: both;
}

/* Add BoF Button */

.camp-schedule-grid tbody .add-bof em {
  font-size: 14px;
  padding: 0.2em 0.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00674C', endColorstr='#FF000101');
  background-color: #00674c;
  border: 0;
  color: white;
  margin-top: 5px;
}
.camp-schedule-grid tbody .add-bof em:hover {
  text-decoration: none;
}
.camp-schedule-grid tbody .add-bof em:hover {
  background-color: #004e39;
}
.camp-schedule-grid tbody .add-bof em:active {
  background-color: #003e2e;
}
.camp-schedule-grid tbody .add-bof em.disabled, .camp-schedule-grid tbody .add-bof em[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.camp-schedule-grid tbody .add-bof em::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}


}

/**
 *   FRONT PAGE SESSION BUTTON
 */

.front .block-block-2 .homepage-session-schedule a {
  font-size: 16px;
  padding: 0.4em 0.8em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00674C', endColorstr='#FF000101');
  background-color: #00674c;
  border: 2px solid transparent;
  color: white !important;
  margin-right: 0.5em;
}
.front .block-block-2 .homepage-session-schedule a:hover {
  text-decoration: none;
}
.front .block-block-2 .homepage-session-schedule a:hover {
  background-color: #004e39;
}
.front .block-block-2 .homepage-session-schedule a:active {
  background-color: #003e2e;
}
.front .block-block-2 .homepage-session-schedule a.disabled, .front .block-block-2 .homepage-session-schedule a[disabled] {
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.front .block-block-2 .homepage-session-schedule a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.front .block-block-2 .homepage-session-schedule a.active {
  font-size: 16px;
  font-weight: bold;
  padding: 0.4em 0.8em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00B384', endColorstr='#FF004E39');
  background-color: #00b384;
  border: 2px solid white;
  color: white !imporant;
  text-shadow: #003426 0 1px 0;
}
.front .block-block-2 .homepage-session-schedule a.active:hover {
  text-decoration: none;
}
.front .block-block-2 .homepage-session-schedule a.active:hover {
  background-color: #009a72;
}
.front .block-block-2 .homepage-session-schedule a.active:active {
  background-color: #008b66;
}
.front .block-block-2 .homepage-session-schedule a.active.disabled, .front .block-block-2 .homepage-session-schedule a.active[disabled] {
  opacity: 0.6;
  background: false;.
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.front .block-block-2 .homepage-session-schedule a.active::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/**
 *   Aside
 */

.twitter-sign a {
  display: block;
  background: url('../images/sb-twitter-bird.png') left top no-repeat;
  padding: 10px 0 0 60px;
  height: 46px;
  width: 150px;
  margin: 30px auto 0 auto;
}

.signup-sign {
  background: url('../images/sb-pole-entire.png') 50% 100% no-repeat;
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.signup-sign a {
  height: 62px;
  width: 245px;
  background: url('../images/sb-yellow-sign.png') 0 0 no-repeat;
  margin: 20px auto 0 auto;
  display: block;
  text-indent: -9999px;
}

.signup-sign a.sold-out {
  background: url('../images/sb-yellow-sold-out.png') 0 0 no-repeat;
}

/*
 * FOOTER
 */

#zone-footer-wrapper {
  background: url('../images/footer-bg.png') #151515 0 0 repeat-x;
  min-height: 300px; 
  height:auto !important; 
  height: 300px;
  background-color: #151515; 
  padding: 60px 0 0 0;
}

.views-field-field-sponsor-logo a {
	display: block;
	width: 260px;
	margin: 0 auto .75em auto;
}

/* feedback link should be hidden by default*/
#block-feedback-feedback {
  display: none;
}

/* mobile tweaks, sponsor logos */
@media all and (max-width: 979px) {
	.views-field-field-sponsor-logo a {
		margin: 0;
		width: inherit;
	}
	
	.views-field-field-sponsor-logo img {
		width: 46%;
		height: auto;
		float: left;
		margin: .5em 2%;
		max-width: 260px;
	}
	
	#zone-content h1 {
		font-weight: bold;
		font-size: 1.75em;
	}
	
	#zone-content h2 {
		font-size: 1.4em;
	}
}

@media all and (max-width: 479px) {
	.not-logged-in ul.primary.tabs li {
		display: block;
		margin-bottom: .5em;
	}
}

/* hack to hide entity title, next year we are enabling Display Suite */
.field-name-field-slot-types-time-slot h2 {
	display: none;
}

/*
 * CSS hack to hide extra menu item for submit session for logged in users
 * 
 */

.logged-in #zone-menu .menu-395 {
  display: none;
}

/* Sponsor Logo Styling */
.views-field-field-sponsor-logo.Diamond-Sponsor img {
    background: #444444;
    border: 3px solid #ffffff;
    border-radius: 20px;
    max-width: 260px;
}
.views-field-field-sponsor-logo.Platinum-Sponsor img {
    background: #333333;
    border: 3px solid #e1e1e1;
    border-radius: 20px;
    max-width: 260px;
}
.views-field-field-sponsor-logo.Gold-Sponsor img {
    background: #222222;
    border: 3px solid #c79602;
    border-radius: 20px;
    max-width: 260px;
}
.views-field-field-sponsor-logo.Silver-Sponsor img {
    background: transparent;
    border: 3px solid #959595;
    border-radius: 20px;
    max-width: 260px;
}
